$black: #000000;
$white: #ffffff;
$pink: #000000;
$blue: #000000;
$pink-light: #000000;
$blue-light: #000000;
$green: #3eb978;
$beige: #e6cdb5;
$gradient-dark: linear-gradient(
  0deg,
  rgba(255, 255, 255, 0.7) 0%,
  rgba(0, 0, 0, 0.05) 50%
);
$s: #00000010;
$break-small: 640px;
$break-medium: 768px;
$break-large: 1200px;

$shadow: 0px 0px 30px rgba(0, 0, 0, 0.05), 0px 0px 14px rgba(0, 0, 0, 0.03);
$shadow-light: 0px 0px 30px rgba(255, 255, 255, 0.5),
  0px 0px 14px rgba(255, 255, 255, 0.3);
